<%= link_to "new", new_todo_path %>
 
<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
 
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= link_to 'Show', todo_path(todo) %></td>
      <td><%= link_to 'Delete', todo_path(todo), method: :delete %></td>
    </tr>
  <% end %>
</table>


 <div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div> 
